.header {
    margin-top: 1rem;
    text-align: center;
}
.title{
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.link {
    text-decoration: none;
    color: #222;
}
.link.active {
    color: #33C3F0;
}
.email {
    text-decoration: none;
}
.nav-item {
    margin-bottom: 2.5rem;
    font-size: 1.8rem;
}
